@charset "UTF-8";

body {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  $height: 120px;
  background-color: black;
  color: white;
  height: $height;
  width: 100%;
  opacity: 0.9;
  z-index: 10;
  position: fixed;
  top: 0;

  a:hover {
    text-decoration: none;
    color: white;
  }

  .header-container {
    height: $height;

    .header-logo {
      padding: 30px 50px;
      float: left;
      font-family: "Carattere", cursive;
      font-size: 50px;
    }

    .header-menu {
      margin-top: 40px;
      padding: 15px 50px;
      float: right;
      opacity: 0.95;

      li {
        float: left;
        padding: 0 50px;
      }
    }
  }
}

.top-wrapper {
  margin: 200px 150px;

  .top-back {
    margin: 0 auto;
    background-image: url(maple.png);
    height: 768px;
    width: 1366px;

    .top {
      margin: 0 auto;
      height: 768px;
      width: 1366px;
      opacity: 0.5;
      background-color: black;
      display: none;
      text-align: center;

      h1 {
        color: white;
        font-family: "Carattere", cursive;
        font-size: 200px;
        padding-top: 50px;
      }

      h2 {
        color: white;
        font-family: "Carattere", cursive;
        font-size: 90px;
        padding-top: 100px;
      }
    }
  }
}

.wrapper {
  height: 1200px;
  background-color: rgb(241, 227, 205);
  opacity: 0.8;
  margin-top: 300px;
  z-index: 1;
}

.about {
  padding: 100px;

  .about-top {
    text-align: center;

    h1 {
      font-size: 50px;
      padding: 0 0 20px 0;
    }

    p {
      line-height: 30px;
    }
  }

  .tweet_maple {
    margin-top: 80px;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      right: 210px;
    }

    span {
      position: absolute;
      top: 14px;
      right: 225px;

      .twitter-timeline {
        border-radius: 35px;
      }
    }
  }
}

.works {
  padding: 100px;
  text-align: center;

  h1 {
    font-size: 50px;
    padding: 0 0 20px 0;
  }
  .myskill {
    #myskill {
      li {
        width: 180px;
        float: left;
        margin-right: 20px;
      }

      img {
        width: 100px;
        display: inline-block;
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
        border-top-width: 2px;
        margin-top: 10px;
        padding: 5px;
      }
    }
  }
}

.contact_wrapper {
  height: 695px;
  .contact {
    padding: 100px;
    text-align: center;

    h1 {
      font-size: 50px;
      padding: 0 0 20px 0;
      text-align: center;
    }

    .contact-contents {
      display: inline-block;
      width: 900px;
      .inputArea {
        input[type="text"] {
          text-align: left;
          border: 2px solid rgb(87, 87, 87);
          border-radius: 4px;
          width: 100%;
          margin: 8px 0;
          outline: none;
          padding: 8px;
          box-sizing: content-box;
          transition: 0.3s;
        }

        input[type="text"]:focus {
          border-color: rgb(14, 0, 0);
          box-shadow: 0 0 8px 0 rgb(14, 0, 0);
        }

        .inputWithIcon input[type="text"] {
          padding-left: 40px;
        }

        .inputWithIcon {
          position: relative;
        }

        .inputWithIcon i {
          position: absolute;
          left: 0;
          top: 8px;
          padding: 9px 8px;
          color: #aaa;
          transition: 0.3s;
        }

        .inputWithIcon input[type="text"]:focus + i {
          color: rgb(14, 0, 0);
        }

        textarea[type="text"] {
          text-align: left;
          height: calc(1.8em * 8);
          line-height: 1.8;
          border: 2px solid rgb(87, 87, 87);
          border-radius: 4px;
          width: 100%;
          margin: 8px 0;
          outline: none;
          padding: 8px;
          box-sizing: content-box;
          transition: 0.3s;
        }

        textarea[type="text"]:focus {
          border-color: rgb(14, 0, 0);
          box-shadow: 0 0 8px 0 rgb(14, 0, 0);
        }

        .inputWithIcon textarea[type="text"] {
          padding-left: 40px;
        }

        .inputWithIcon textarea[type="text"]:focus + i {
          color: rgb(14, 0, 0);
        }

        button {
          border-width: 1px;
          padding: 5px 30px;
          margin: 8px 0 8px 40px;
        }

        button:hover {
          color: white;
          background-color: black;
          transition: 0.3s;
        }
      }

      .follow_me {
        margin: 20px 0 0 100px;

        h1 {
          border-width: 0 0 2px 0;
          font-family: "Pacifico", cursive;
          font-size: 64px;
        }

        p {
          text-align: center;

          span {
            display: inline-block;
          }

          i {
            margin: 30px 30px 0 0;
            color: #333;
          }

          a i:hover {
            text-decoration: none;
            color: black;
          }

          a:visited {
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  height: 300px;
  width: 100%;
  opacity: 0.9;
  margin: 300px 0 0 0;
}
