body {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: black;
  color: white;
  height: 120px;
  width: 100%;
  opacity: 0.9;
  z-index: 10;
  position: fixed;
  top: 0;
}

header a:hover {
  text-decoration: none;
  color: white;
}

header .header-container {
  height: 120px;
}

header .header-container .header-logo {
  padding: 30px 50px;
  float: left;
  font-family: "Carattere", cursive;
  font-size: 50px;
}

header .header-container .header-menu {
  margin-top: 40px;
  padding: 15px 50px;
  float: right;
  opacity: 0.95;
}

header .header-container .header-menu li {
  float: left;
  padding: 0 50px;
}

.top-wrapper {
  margin: 200px 150px;
}

.top-wrapper .top-back {
  margin: 0 auto;
  background-image: url(maple.png);
  height: 768px;
  width: 1366px;
}

.top-wrapper .top-back .top {
  margin: 0 auto;
  height: 768px;
  width: 1366px;
  opacity: 0.5;
  background-color: black;
  display: none;
  text-align: center;
}

.top-wrapper .top-back .top h1 {
  color: white;
  font-family: "Carattere", cursive;
  font-size: 200px;
  padding-top: 50px;
}

.top-wrapper .top-back .top h2 {
  color: white;
  font-family: "Carattere", cursive;
  font-size: 90px;
  padding-top: 100px;
}

.wrapper {
  height: 1200px;
  background-color: #f1e3cd;
  opacity: 0.8;
  margin-top: 300px;
  z-index: 1;
}

.about {
  padding: 100px;
}

.about .about-top {
  text-align: center;
}

.about .about-top h1 {
  font-size: 50px;
  padding: 0 0 20px 0;
}

.about .about-top p {
  line-height: 30px;
}

.about .tweet_maple {
  margin-top: 80px;
  width: 100%;
  position: relative;
}

.about .tweet_maple img {
  position: absolute;
  top: 0;
  right: 210px;
}

.about .tweet_maple span {
  position: absolute;
  top: 14px;
  right: 225px;
}

.about .tweet_maple span .twitter-timeline {
  border-radius: 35px;
}

.works {
  padding: 100px;
  text-align: center;
}

.works h1 {
  font-size: 50px;
  padding: 0 0 20px 0;
}

.contact_wrapper {
  height: 695px;
}

.contact_wrapper .contact {
  padding: 100px;
  text-align: center;
}

.contact_wrapper .contact h1 {
  font-size: 50px;
  padding: 0 0 20px 0;
  text-align: center;
}

.contact_wrapper .contact .contact-contents {
  display: inline-block;
  width: 900px;
}

.contact_wrapper .contact .contact-contents .inputArea input[type="text"] {
  text-align: left;
  border: 2px solid #575757;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact_wrapper .contact .contact-contents .inputArea input[type="text"]:focus {
  border-color: #0e0000;
  -webkit-box-shadow: 0 0 8px 0 #0e0000;
          box-shadow: 0 0 8px 0 #0e0000;
}

.contact_wrapper .contact .contact-contents .inputArea .inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.contact_wrapper .contact .contact-contents .inputArea .inputWithIcon {
  position: relative;
}

.contact_wrapper .contact .contact-contents .inputArea .inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact_wrapper .contact .contact-contents .inputArea .inputWithIcon input[type="text"]:focus + i {
  color: #0e0000;
}

.contact_wrapper .contact .contact-contents .inputArea textarea[type="text"] {
  text-align: left;
  height: calc(1.8em * 8);
  line-height: 1.8;
  border: 2px solid #575757;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact_wrapper .contact .contact-contents .inputArea textarea[type="text"]:focus {
  border-color: #0e0000;
  -webkit-box-shadow: 0 0 8px 0 #0e0000;
          box-shadow: 0 0 8px 0 #0e0000;
}

.contact_wrapper .contact .contact-contents .inputArea .inputWithIcon textarea[type="text"] {
  padding-left: 40px;
}

.contact_wrapper .contact .contact-contents .inputArea .inputWithIcon textarea[type="text"]:focus + i {
  color: #0e0000;
}

.contact_wrapper .contact .contact-contents .inputArea button {
  border-width: 1px;
  padding: 5px 30px;
  margin: 8px 0 8px 40px;
}

.contact_wrapper .contact .contact-contents .inputArea button:hover {
  color: white;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact_wrapper .contact .contact-contents .follow_me {
  margin: 20px 0 0 100px;
}

.contact_wrapper .contact .contact-contents .follow_me h1 {
  border-width: 0 0 2px 0;
  font-family: "Pacifico", cursive;
  font-size: 64px;
}

.contact_wrapper .contact .contact-contents .follow_me p {
  text-align: center;
}

.contact_wrapper .contact .contact-contents .follow_me p span {
  display: inline-block;
}

.contact_wrapper .contact .contact-contents .follow_me p i {
  margin: 30px 30px 0 0;
  color: #333;
}

.contact_wrapper .contact .contact-contents .follow_me p a i:hover {
  text-decoration: none;
  color: black;
}

.contact_wrapper .contact .contact-contents .follow_me p a:visited {
  color: #333;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  height: 300px;
  width: 100%;
  opacity: 0.9;
  margin: 300px 0 0 0;
}
/*# sourceMappingURL=style.css.map */